@use '../../../layout/styles/_media-queries.scss' as *;
@use '../../../layout/styles/_mixins.scss' as *;
@use '../shared.scss' as *;

.table-container {
  margin-top: 32px;

  @include mobile-only {
    margin: 0 -16px;
  }
}

.error-state {
  padding: 2rem;
  text-align: center;
  color: #ef4444;
  background-color: rgba(239, 68, 68, 0.1);
  border-radius: $border-radius;
  margin: 1rem 0;
}

:host ::ng-deep .data-table {
  .actions-cell {
    justify-content: flex-start;
  }

  .download-button {
    color: var(--color-primary);

    &.is-loading {
      pointer-events: none;
      opacity: 0.7;
    }
  }

  .edit-button,
  .delete-button,
  .ban-button,
  .unban-button {
    display: none;
  }
}
