<section>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1>terminos y condiciones</h1>


    <ul>
        <li>¿que puede hacer un medico en la aplicacion?</li>
        <li>¿que puede hacer un paciente en la aplicacion?</li>
        <li>¿que tipo de garantia se ofrece por la aplicacion?¿los usuarios tienen derecho a reclamo?</li>
        <li>¿que persona (puede ser fisica o juridica) publica y distribuye esta aplicacion? ¿cual es la direccion fisica y los datos de contacto de esa persona?</li>

    </ul>



    <p>🚧 En proceso 🚧</p>
</section>
