@use '../../../../layout/styles/_media-queries.scss' as *;
@use '../../../../layout/styles/_mixins.scss' as *;

.change-password-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;

  @include mobile-only {
    padding: 16px;
  }
}