<div class="dashboard">
  <app-sidebar
    [user]="user"
    (logout)="onLogout()"
  ></app-sidebar>
  <div class="main-content">
    <app-header></app-header>
    <div class="content">
      <ng-container *ngIf="loading; else content">
        <div class="loading-spinner">
          <i class="material-icons loading-icon">hourglass_empty</i>
          <span>Cargando...</span>
        </div>
      </ng-container>
      <ng-template #content>
        <div *ngIf="error" class="error">{{ error }}</div>
        <router-outlet></router-outlet>
      </ng-template>
    </div>
  </div>
</div>