<section>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1>Política de Privacidad</h1>


    <ul>
    <li>¿que datos personales y/o credenciales, identificadores, caracteristicas reservadas vamos a manejar?</li>
    <li>¿con que proposito se solicita cada dato - la rta de esto es: para el uso normal de la aplicacion (es decir, es absolutamente necesario para una funcionalidad de la app) o por motivos comerciales (campañas de marketing, anuncios)?</li>
    <li>¿que practicas se siguen para el almacenamiento de credenciales?</li>
    <li>¿la aplicacion solicita y/o maneja datos de medios de pago de los usuarios?</li>
    <li>¿donde se almacenan geograficamente los datos del usuario</li>
    <li>¿quienes son los usuarios objetivos de esta aplicacion? Es decir, cual es la legislacion local?</li>
    <li>¿la informacion personal de los usuarios se comparten con terceros?</li>
    </ul>



    <p>🚧 En proceso 🚧</p>
</section>