:host {
  display: block;
  position: relative;
}

.home-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 80px;
  color: #1e293b;
  font-family: "Inter", "Segoe UI", sans-serif;
  overflow-x: hidden;
}
